div
{
    height:1000px;
        width:1000px;
    background-image:url(550.jpg);
    background-position:left center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    
    
    
}
.name
{
    
    color:black
    
    
}
.lol
{
    
    
    color:black
    
}